.cuentaBancaria__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cuentaBancaria-container {
    input {
        width: 27vw;
    }
    .dos {
        margin-left: 1.2rem;
    }
}
@media(max-width : 1024px){
    .cuentaBancaria-container {
        input {
            width: 100%;
        }
        .dos {
            margin-left: 0px;
        }
    }
}