.localizacion__main {
    display: flex;
    flex-direction: column;
}
.localizacion__input {
    cursor: pointer;
    width: 25vw;
    padding-bottom: 3px;
}

@media(max-width : 1024px){
    .localizacion__input{
        width: 100%;
    }
}